VITE_BACKEND_ORIGIN="http://localhost:3001"
VITE_DEV_BYPASS_AUTH="1"
VITE_DEV_AUTOLOAD_DEFAULT_PDF="1"
VITE_DEV_DEFAULT_PDF_URL="/dev-default.pdf"
VITE_MAPPING_MODE_DEFAULT="1"
VITE_FLOW_PARAGRAPH_MIN_WIDTH_RATIO="0.58"
VITE_FLOW_PARAGRAPH_MAX_WIDTH_RATIO="1"
VITE_FLOW_PARAGRAPH_MAX_INDENT_RATIO="0.18"
VITE_FLOW_WIDTH_TUNE_MIN="-0.14"
VITE_FLOW_WIDTH_TUNE_MAX="0.2"
VITE_FLOW_WIDTH_TUNE_PASS_LIMIT="2"
VITE_FLOW_WIDTH_TUNE_THRESHOLD_LINES="2"
VITE_FLOW_WIDTH_TUNE_STEP="0.045"
VITE_FLOW_WIDTH_TUNE_STEP_LARGE="0.065"
VITE_FLOW_START_ANCHOR_GAP_WEIGHT="0.72"
VITE_FLOW_FIRST_PARAGRAPH_TOP_WEIGHT="0.84"
VITE_FLOW_FIRST_PARAGRAPH_TOP_MAX_PX="240"
VITE_FLOW_PARAGRAPH_HEADING_MAX_INDENT_RATIO="0.62"
